# td build files
*.area
*.db
*.timing
*.tsm
*_tdmap.v
*_tdpack.v
*_tdread.v
*_tdrtl.v

# chipwatcher inst files
*_inst.bid
*_watcherInst.v

# chipwatcher
*.cwc

# bitstream outputs
*.bit

# sch file
sch_pr.v

# td project backup files
.*.al.bak

# td log files
td_*.log
